################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.dotnet/3.1.102.aspNetCertificateSentinel
