<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:minWidth="25px"
    android:minHeight="25px">
    <Button
        android:text="Back"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:id="@+id/LoadHomeScreenButton"
        android:layout_marginTop="25.5dp"
        android:layout_marginLeft="24.5dp" />
    <TextView
        android:text="Settings"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:layout_marginLeft="276.5dp"
        android:layout_marginBottom="489.0dp"
        android:layout_marginTop="13.5dp"
        android:layout_marginRight="31.5dp" />
    <ToggleButton
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:layout_toLeftOf="@id/LoadHomeScreenButton"
        android:id="@+id/toggleButton1" />
</RelativeLayout>